body {
    margin: 0;

}

.section_one {
    display: flex;
    background-image: url("images/shapes/7.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.section_one-hafe {
    width: 50%;
    /* margin-left: 10px; */

}

.skip {
    color: orange;
}

.section_one-hafe h1 {
    font-size: 50px;
    text-align: center;
}

.section_one-hafe p {
    font-size: 30px;
}

.section_one-hafe a {
    font-size: 30px;
    text-decoration: none;
    background-color: orange;
    padding: 20px 40px;
    border-radius: 20px;
}

.section_one-hafe img {
    width: 90%;
}

/* section fast complit */
#garl {
    height: 500px;
    width: 90%;

}

.About-Me {
    display: flex;
    background-image: url("images/shapes/top-banner.png");
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    margin-top: 40px;
    height: 600px;

}

.About-Me-div {
    width: 50%;
}

.About-Me-div h1 {
    font-size: 50px;
    color: yellow;
}

.About-Me-div p {
    font-size: 30px;
}

.About-Me-div a {
    text-decoration: none;
    background-color: orange;
    padding: 25px 30px;
    border-radius: 30%;
}

.About-Me-div img {
    width: 90%;

}

.My-recipies {
    text-align: center;
}

.box {
    display: flex;

}

.box-harf {
    border: 10px solid grey;
    margin-left: 40px;
    box-shadow: 10px 10px 5px #aaaaaa;
    border-radius: 30px;
    width: 40%;


}

.box-harf img {
    width: 90%;
    padding: 10px;

}

#last {
    display: flex;
    height: 300px;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin-left: 200px;
    padding: 20px;


}

.mk {
    margin: 100px;
    text-align: center;
    box-shadow: 15px 20px 5px #aaaaaa;

}

footer {
    height: 200px;
    width: 100%;
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding-top: 40px;


}